snippet edf "Create a function component and import it"
import React from 'react';
import './styles.cc';

export default function $1(){
	return(
	);
}
endsnippet

snippet uses
const [$1,use$1] = useState();
endsnippet

snippet impf
import $1 from '$2';
endsnippet

snippet usee
useEffect(() => {

}[]);
endsnippet

snippet def
const $1 = ($2) => {

}
endsnippet

snippet impc
import $1 from 'components/$1';
endsnippet
